body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    color: #333;
}
nav{
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row; /* or column, depending on your layout */
    justify-content: space-between; /* or other values */
    align-items: center; /* or other values */
}



.filters, .game-container {
    height: auto;
}


.filters {
    background-color: #3498db;
    padding: 30px;
    text-align: center;
    color: #ffffff;
  
}

.game-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
    margin: 50px;
    box-shadow: 0 4px 8px (0, 0, 0, 0.1);
}

.game {

    height: 40%;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.game:hover {
    transform: scale(1.05);
}

.game img {
    width: 100%;
 height: 450px;
    margin-bottom: 10px;
}

.game-details h3 {
    margin: 0;
}

/* Style for the add to cart button */
.game-details button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px #3498db;

}


.Adventure, .Board, .puzzle, .simulation, .sports {
    background-color: #2c5393; 
    padding: 25px; 
    text-align: center;
    color: #e6e6e6;
    box-shadow: 0 0 10px #3498db;
}


.Adventure h3, .Board h3, .puzzle h3, .simulation h3,  .sports h3 {
    font-size: 2em; /* Adjust heading font size */
    margin-bottom: 20px; /* Add space below heading */
}

.Adventure p, .Board p, .puzzle p, .simulation p, .sports p {
    font-size: 1em; /* Adjust paragraph font size */
    line-height: 1.5; /* Adjust line height for better readability */
}

