/* All heading styles*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333;
    width: 100%;
    overflow-x: hidden;
  }

nav {
    background: linear-gradient(to bottom,#ecf0f1, #e6e6e6);
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  nav a {
    color: #142c4b;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
    white-space: nowrap; /* Prevent text from wrapping */
    font-weight: bold;
    font-size: 20px;
  }

nav a:hover {
    background: linear-gradient(to bottom, #e6e6e6, #3498db); /* Gradient from off-white to primary color */
    color: #ffffff;
  }

.dropdown {
    display: inline-block;
  }

.dropdown-content {
    color: #6f8695;
    display: none;
    position: absolute;
    background-color:#ffffff;
    box-shadow: 0 8px 16px #f9f9f9;
    z-index: 1;
    text-align: left;
    font-weight: normal;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }

.search-container {
    display: flex;
    justify-content: center;
    background-color: #cccccc;
    box-shadow: 0 2px 5px #cccccc(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 2px 0 0 2px;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 14px;
  }

input[type="text"]:focus {
    border-color: #2c5393;
  }

.search-icon {
    font-size: 20px;
    color: #f9f9f9;
  }

.search-btn {
    padding: 10px 15px;
    background-color: #142c4b;
    border: none;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    color: #f9f9f9;
  }

.icon {
    color: #142c4b;
    font-size: 20px;
    margin: 0 10px;
    padding: 12px;
  }

.icon:hover{
    background: linear-gradient(to bottom, #e6e6e6, #3498db);
    color: #ffffff;
  }

.logo {
    max-width: 45%;
    margin-right: 20px;
    height: 80px;
  }

.dropdown-content a {
    font-weight:lighter ;
    font-size: 18px;
    color: #142c4b;
  }

.photosensitivity-disclaimer {
    background-color: #f0f0f0;
    color: #555555;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }


/* Basket body styles*/
.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

  .main-text {
    width: 70%;
    margin-left:15%;
  }

 .page-title {
    margin-bottom: 10px;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 10px #3498db;
  }

  .padding{
    margin-top: 32px;
  }

  .row-container {
    display: flex;
  }

  .left-section{
    flex: 1;
    width:90%;
    margin-left: 5%;
  }

  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    width:90%;
    margin-left: 5%;
    align-items: center; /* Center items horizontally */
  }

  .left-align{
    text-align: left;
  }


 @media (max-width: 768px) {
   .row-container {
     display: block;
   }
 }


/* All footer styles*/
footer {
    background: linear-gradient(to bottom, #e6e6e6, #3498db);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 100px;
    width: 100%;
    bottom: 0;
  }

footer ul {
    list-style: none;
    padding: 0;
  }

footer li {
    display: inline;
    margin: 0 15px;
  }

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }

footer a:hover {
    text-decoration: underline;
   color: #333;
 }

.footer-social {
    margin-top: 20px;
  }

.footer-social a {
    display: inline-block;
    margin: 0 10px;
    margin-right: 30px;
    color: #ffffff;
    font-size: 20px;
  }

.footer-social a:hover {
    color: #333
  }
