body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 228, 228);
    color: #000000;
    font-family: "Montserrat", sans-serif;
}

#orders-list,
#orders-list li {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    border: 2px solid black;
    border-radius: 0px 5px 0px 0px;
}

#orders-list li {
    list-style-type: none;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom: 4px solid black;
    border-top-right-radius: 5px;
    padding: 1%;
}

.order-item {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.order-image {
    width: 5%;
    margin-right: 2%;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
    margin-top: 5px;
    padding: 10px;
    flex-direction: column;
}

.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
}

#sidebar {
    height: 20px;
    background-color: rgb(235, 228, 228);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 100%;
    grid-area: sidebar;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: #1b1b1c;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;

    z-index: 12 !important;
}

.Order-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    text-align: center;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(19, 18, 18, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}

.card:first-child {
    background-color: #2962ff;
}

.card:nth-child(2) {
    background-color: #2962ff;
}

.card:nth-child(3) {
    background-color: #2962ff;
}

.card:nth-child(4) {
    background-color: #2962ff;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .material-icons-outlined {
    font-size: 45px;
}

.low-stock {
    color: red;
}

.in-stock {
    color: orange;
}

.full-stock {
    color: green;
}

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            "header"
            "main";

        display: flex;
        height: 50px;
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}