nav{
  margin-bottom: 30px;
  padding-bottom: 20px;
}

/* Basket body styles*/
.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }

 .featured-games-title {
    margin-bottom: 10px;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 10px #3498db;
  }

 .btn {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

 .btn:hover {
    background-color: #2c3e50;
  }

  .row-container {
    display: flex;
  }

  .item-container {
    margin-top:50px;
    display: flex;
    height: auto;
    margin-left: 20%;
    box-shadow: 0 0 10px #3498db;
    border-radius: 15px;
    width:60%;
  }

  .left-section, .middle-section, .single-section, .next-column{
    flex: 1;
    padding: 5px; /* Add padding for better spacing */
  }

  .middle-section {
    flex: 20%;
    display: flex;
    flex-direction: column;
    text-align: left; /* Set text alignment to the left */
  }

  .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .quantity {
    margin-top:16px;
  }

  .right-align{
    text-align: right;
  }

  .single-section {
    margin-left:25%;
  }

  .padding{
    padding: 5px;
  }

  .right-section-half {
    margin-bottom: 10px;
    padding: 0;
  }

  .top-half, .bottom-half {
    display: flex;
  }

  .next-column {
    flex: 0.5;
    margin-left: 15px;
    align-items: center;
    text-align: center;
  }

  .bin-container {
      width: 10%;
      border: none;
  }

  .bin-button {
      margin-top:50%;
      border: none;
      padding: 0;
      background: none;
      cursor: pointer;
    }

  .bin-img {
    margin-left: 25%;
    width: 40px;
    height:auto;
  }

  .price {
    font-size: 25px;
    margin-top:30px;
  }

  .checkout-container {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin-left: 53%;
      margin-bottom:6%;
  }

  .total-container{
    display: flex;
    flex: 1;
  }

  .total-text {
    font-size: 25px;
    margin-top: 2px;
  }

  .checkout-button {
      width:50%;
      padding:8px;
      font-size: 20px;
      border-radius: 20px;
      box-shadow: 0 0 10px #3498db;
      margin-left: 35%;
      margin-bottom: 20%;
      border-color: #3498db;
  }

  .product-img, .left-section {
    width:80px;
    height:auto;
  }

  .update {
    margin-top: 10px;
  }


 @media (max-width: 768px) {}


