nav{
    margin-bottom: 30px;
    padding-bottom: 20px;
}

footer{
    margin-top: 40px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('contactback.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value to make it more or less transparent */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjust the width as per your requirement */
    margin: 0 auto;
    margin-top: 50px; /* Add margin-top to center vertically */
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 22px); /* Adjust the width and subtract padding and border width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}