body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 228, 228);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
  }
  
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }

  .order-first{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin: 30px auto;
  width: 100%;
  padding: 2em;
  justify-content: center;
}
  
  
  .header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  

  .logo{
    height: 15vh;
    width: 50px;
  }
  .menu-icon {
    display: none;
  }
  
  
  /* #sidebar {
    height: 100px;
    background-color: rgb(235, 228, 228);
    /* overflow-y: auto; */
    /* transition: all 0.5s;
    -webkit-transition: all 0.5s;
  } */
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
.order-list {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.information {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.order-discription {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
    align-self: center;
    align-items: center;
    border-bottom: 1px solid #000;
    background-color: rgb(14, 106, 203);
    width: 100%;
}

.order-first {
    flex: 1;
    text-align: center;
}

.order-details {
    padding: 10px;
   

}

.order1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.order1 img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}